header {
  height: 200px;
  background-image: url("/assets/2016-GrandTenton-039.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-blend-mode: screen;
  background-color: lightslategray;*/
  padding: 20px;
  border-radius: 2%;
  margin-bottom: 0.5em;
}

@media (min-width: 30rem) {
  header {
    height: 300px;
  }
}
